.awards {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.cbs img {
    width:93px;
    height:60px;
}
.cbs h2 {
    font-size: 24px;
    font-family: Oswald;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}

.starLedger img {
    width: 294px;
    height: 52px;
}

.starLedger h2 {
    font-family: Oswald;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}

.nj img {
width: 123px;
height: 77px;
}

.nj h2 {
    font-family: Oswald;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}