.footer {
    background-color: var(--pale-grey);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid black;
    width:100%;
}

.footer h1 {
    display: flex;
    justify-content: center;
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;

}

.locations {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

p {
    text-align: center; 
    font-size: 24px;
    padding: 5px;

}

#west {
    border-left: 1px solid black;
    border-right: 1px solid black;

}

h3 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    border-radius: 50%;
    grid-gap: 15px;
    padding-top: 15px;
}

.locations img {
    display: grid;
    padding: 10px;
    height: 50px;
    width: 50px;
    fill: rgb(148, 148, 148);
    padding: 0px;
}


@media only screen and (max-width: 568px) {
    #footer{
        width: 100%;

    }

    .footer h1 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .locations h2 {
        font-size: 13px;
    }

    .locations p {
        font-size: 12px;
        padding: 2px;

    }

    .locations h3 {
        grid-gap: 10px;
        padding-top: 10px;
    }

    .locations img {
        height: 30px;
        width: 30px;
    }
}

