.hoursBg {
  background-image: url(../images/wings_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 442px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  padding-top: 88px;
}

.info h2 {
  font-family: Oswald;
  font-size: 36px;
  padding-top: 26px;
  color: var(--black);
}

.info p {
  font-family: Karla;
  font-size: 24px;
}

.hours {
  width: 346px;
  height: 291px;
  border-radius: 12px;
  background-color: var(--white-70);
}

.address {
  width: 346px;
  height: 291px;
  border-radius: 12px;
  background-color: var(--white-70);
}

@media only screen and (max-width: 415px) {

    .hoursBg {
        background-position: center;
        height: 249px;
        width: auto;
    }
    .info {
        padding-top: 17px;
    }
    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 13px;
    }
    .hours {
        width: 151px;
        height: 216px;
    }
    .address {
        width: 151px;
        height: 216px;
    }
}
